# Andmebaas
POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum
DB_PORT_HOST=55432

# Airflow (kui kasutatakse)
# AIRFLOW_UID=50000
# AIRFLOW_USER=airflow
# AIRFLOW_PASSWORD=airflow
# AIRFLOW_DB=airflow

# Näidikulaud (kui kasutatakse)
# DASHBOARD_PORT_HOST=8501
# DASHBOARD_AUTOREFRESH_SECONDS=30

# Muud projekti-spetsiifilised muutujad
# API_URL=https://...
