# Andmebaas
# POSTGRES_USER=praktikum
# POSTGRES_PASSWORD=praktikum
# POSTGRES_DB=praktikum
# DB_PORT_HOST=55432

POSTGRES_HOST=db.xeclbtbjofbgjkedrgaz.supabase.co
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=[supabase-parool]

# Merit API
MERIT_API_ID=
MERIT_API_KEY=
MERIT_API_BASE_URL=https://aktiva.merit.ee

# EMTA avaandmed
# Avalikud EMTA CSV failid. Kui lingid muutuvad, tuleb need uuendada.
EMTA_TAX_DEBT_URL=https://ncfailid.emta.ee/s/XKJLjtynFeYdGyC/download/maksuvolglaste_nimekiri.csv
EMTA_PAID_TAXES_URL=https://ncfailid.emta.ee/s/DFHQjB2Rsq3CK7p/download/tasutud_maksud_kaesolev_aasta.csv
